.wptuts-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.wptuts-video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custombutton{
	background-color: #D11F1F;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.custompost{
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 15px;
	padding: 80px;
	position: relative;
}

.customdate{
	height: 3vh;
	background-color: $body-background;
	font-family: "ubuntu", Arial, sans-serif;
	overflow-x: hidden;
	display: grid;
	font-size: 30px;
	font-family: "ubuntu";
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 100% auto;
	color: black;
	background-clip: text;
	animation: textclip 1.5s linear infinite;
	display: inline-block;
}
